In [1]:
#OBJECTIVE-Is to Explore dataset to predict the category of people who might be interested to purchase the newly launched suv in the market.
#Importing required libraries
import numpy as np #linear algebra
import pandas as pd #data processing
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score, train_test_split

In [3]:
df = pd.read_csv(r"C:\Users\USER\Downloads\suv_data.csv")

In [4]:
df.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [15]:
def plot(data,x,y):
    plt.Figure(figsize =(10,10))
    g = sns.FacetGrid(data, row =  y)
    g = g.map(plt.hist,x)
    plt.show()

In [17]:
X = df.iloc[:, [2, 3]].values #defining our features and target variable
y = df.iloc[:, 4].values

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0) #Splitting the dataset into the Training set and Test set - 80-20 split

In [33]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train) #Feature scaling as range of estimated salary and age is different
X_test = sc.transform(X_test)

In [28]:
from sklearn.preprocessing import StandardScaler

In [34]:
#Classifying and prediction
classifier = LogisticRegression(random_state = 0)  #Logisticclassifier
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [36]:
y_pred=classifier.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [37]:
#Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
print(cm, '\n')

[[57  1]
 [ 5 17]]

So with this model, we have 57 true positives, 17 true negatives, 5 false positives, and 1 false negatives.

In [38]:
tp, fp, fn, tn = cm[0][0], cm[0][1], cm[1][0], cm[1][1]
print("Recall: ", tp/(tp+fn))
print("Precision: ", tp/(tp+fp))
print("Accuracy: ", (tp+tn)/(tp+tn+fp+fn))

Recall:  0.9193548387096774
Precision:  0.9827586206896551
Accuracy:  0.925

Accuracy of .92, shows it is a good model with "True-Positive" = 74 [57+17].